// @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap")
// @import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap")
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap")


body
  font-family: $jpFontFamily
  color: $textColor

ul[class],
ol[class]
  list-style: none
  padding-left: 0

a[class]
  display: block
  text-decoration: none
  color: inherit

button[class]
  border: none
  outline: none
  background-color: transparent
  cursor: pointer
  appearance: none
