$textColor = #333
$metaColor = #666

$textFontFamily = "Noto Sans JP", sans-serif
$jpFontFamily = "Yusei Magic", sans-serif
$enFontFamily = $jpFontFamily
// $enFontFamily = "Barlow", sans-serif


flexCenter()
  display: flex
  justify-content: center
  align-items: center
